@{
    ViewBag.Title = "Contact Us";
}

<div class="container">
    <h2>Liên Hệ</h2>
    <address>
        Số 28A Lê Trọng Tấn, Hà Đông, Hà Nội<br />
            <p>098 192 26 41</p>
        <p>http://daihocnguyentrai.edu.vn</p>
        <p>Email: daihocnguyentrai@gmail.com</p>
        <img src="~/Content/Images/anhlienhe.png" alt="Contact Us" />
</div>
