
@{
    ViewBag.Title = "Index";
}

<h2>Trang Chủ</h2>
<p>
    >Tạo ứng dụng MVC 5 với template Empty. Tạo một HomeController với các
    Action “Index”, “About”, “Contact”. Tạo các View tương ứng với các action sử dụng
    _Layout.cshtml mặc định. Trong các view hãy giới thiệu về ngôi trường bạn đang học,
    thông tin liên hệ của bạn và một vài hình ảnh minh họa. (có sử dụng CSS).
</p>

