@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.msv.</h2>
<h3>@ViewBag.fullname</h3>

<address>
    K22CNT4<br />
    - AspNet Mvc5<br />
    <abbr title="Phone">P:</abbr>
    0987051975
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:caovanbinh987@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>