@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài Kiểm tra giua kì Cao Văn Bình cam kết không đạo văn</h3>

<address>
    K22CNT4- công nghệ lập trình asp.net MVCS 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Cvb@example.com">Cvb@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:VanBinh@example.com">VanBinh@example.com</a>
</address>